.modal-overlay {
    width: 100%;
    height: calc(100vh - 50px);
    position: absolute;
    top: 50px;
    left: 0;
    background-color: var(--black-p-50);
    z-index: 100;
}

.detail-modal {
    width: 600px;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX( -300px);
    margin: 0 auto;
    padding: 40px;
    display: flex;
    gap: 40px;
    background-color: white;
    border-radius: 15px;
    z-index: 110;
}

.detail-modal img{
    max-height: 400px;
}

.modal-content h2{
    margin: 0;
}