.header {
    padding: 50px;
    display: flex;
    justify-content: center;
    gap: 25px;
}

.header-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-content i {
    font-size: 0.85rem;
}

.header-search {
    display: flex;
    gap: 5px;
}

.header-search input {
    width: 250px;
    height: 40px;
    padding-left: 10px;
    background-color: var(--lines-light-color);
    border: solid 2px var(--lines-dark-color);
    border-radius: 5px;
}

.header-content h1 {
    margin: 0;
}